{
    "configuration": {
        "user_agent": "Crunchyroll/3.10.0 Android/6.0 okhttp/4.9.1",
        "user_region": "US",
        "token": {
            "token_type": "Basic",
            "access_token": "aHJobzlxM2F3dnNrMjJ1LXRzNWE6cHROOURteXRBU2Z6QjZvbXVsSzh6cUxzYTczVE1TY1k="
        },
        "account": {
            "account_id": "",
            "email": "",
            "password": "",
            "username": ""
        }
    },
    "preferences": {
        "download": {
            "video": true,
            "subtitles": true,
            "path": "Downloads"
        },
        "subtitles": {
            "language": "en-US",
            "ass": true,
            "vtt": false,
            "srt": false
        },
        "image": {
            "cover": true,
            "thumbnail": false
        },
        "video": {
            "hardsub": false,
            "resolution": 1080,
            "extension": "mp4",
            "attached_picture": true,
            "metadata": true
        },
        "proxy": {
            "is_proxy": false,
            "uuid": "",
            "agent_key": "",
            "host": "",
            "port": ""
        }
    }
}
