[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"
flake8-black = "*"
black = "*"

[packages]
kamyroll = {editable = true,path = "."}
requests = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
check_types = "mypy --check-untyped-defs --ignore-missing-imports ."
check_formatting = "black --check ."
lint = "flake8"
format = "black ."
